# Server Port (5001 is recommended for Mac users to avoid AirPlay conflicts)
PORT=5001

# MongoDB Connection String (Replace with your own if needed)
MONGO_URI=mongodb+srv://admin:admin@cluster0.myooukx.mongodb.net/room_booking?retryWrites=true&w=majority&appName=Cluster0

# Secret key for JWT Authentication
JWT_SECRET=supersecretjwtkey_replace_in_production
